html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --black: #1f1f1f;
  ---grey: #f3f3f3;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
::selection {
  background-color: red;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 3rem;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.App {
  margin: 0 2em;
  position: relative;
  height: 11111px;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  height: 40px;
  padding: 1em;
  margin: 1em auto;
  z-index: 100;
  background-color: var(--white);
  width: 100%;
}

.logo {
  font-size: 1rem;
}

.links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.2em;
  padding: 1em;
}

.link {
  padding: 0.5em;
}

.link:hover {
  font-weight: 700;
  transition: all 0.2s;
}

a {
  text-decoration: none;
  color: var(--black);
}

.mobile-drawer {
  display: none;
}

.drawer-links {
  display: none;
}

.btn {
  font-weight: 700;
  font-size: 1rem;
  padding: 0.5em 2.5em;
  background-color: var(--blue);
  color: whitesmoke;
  border-radius: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn:hover {
  font-weight: 900;
  transition: all 0.2s;
}

.outline-btn {
  font-weight: 700;
  padding: 0.5em 2.5em;
  background-color: var(--white);
  color: var(--black);
  border-radius: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: solid var(--black) 2px;
}

.outline-btn:hover {
  background-color: var(--blue);
  font-weight: 900;
  transition: all 0.2s;
}

/* landing page */

.flex-info {
  display: flex;
  border: #1f1f1f solid 2px;
  padding: 1em;
}

.left-component {
  margin: 0 auto;
}

.heading-track-crypto,
.heading-real-time {
  font-size: 7rem;
  margin: 0;
}

.heading-real-time {
  color: var(--blue);
}

.heading-track-crypto {
  color: var(--black);
  margin-top: 0.3em;
}

.heading-track-crypto:hover {
  -webkit-text-stroke: 4px var(--black);
  color: var(--white);
}

.info {
  font-size: 1.1rem;
  color: var(---grey);
}

.flex-btn {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 2.5em;
  margin-top: 3rem;
}

.right-component {
  display: flex;
  justify-content: center;
  position: relative;
  width: 50%;
  padding: 1em;
  height: 700px;
  border: #1f1f1f solid 2px;
}

.phone {
  position: absolute;
  z-index: 1;
  width: 350px;
  right: 50px;
}

.gradient {
  position: absolute;
  width: 280px;
  top: 100px;
  right: 50px;
}

.grid {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 padding: 1em;
 margin: 1em;
 gap: 15px;
}


.grid-coin {
  display: flex;
  flex-direction: column;
  width: 234px;
  border: solid 1px black;
  background-color: var(---grey);
  padding: 2.5em;
  border-radius: 5px;
  
}

.coin-img {
  width: 40px;
  height: 100%;
  margin: 0;
  padding: 0;
}
.grid-flex {
  display: flex;
  gap: 1em;
  align-items: center;
  height: 40px;
  padding: 0;
}

.coin-name p{
  margin: 0;
  padding: 0;
}

.coin-symbol {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--black);
}

.coin-name {
  color: gray;
}

@media all and (max-width: 1030px) {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .App {
    margin: 0em;
    padding: 0em;
    position: relative;
    height: 11111px;
  }

  .navbar {
    margin: 0;
    padding: 0;
  }
}
@media all and (max-width: 800px) {
  .hamburger-icon {
    font-size: 0.1em;
  }

  .links {
    display: none;
  }
  .mobile-drawer {
    display: block;
  }

  .drawer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    gap: 1em;
    height: 100vh;
  }

  .flex-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .heading-track-crypto,
  .heading-real-time {
    font-size: 5rem;
    margin: 0;
  }

  .info {
    text-align: center;
  }

  .flex-btn {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    margin-top: 3rem;
  }
  .flex-btn {
    justify-content: space-around;
    border: solid 1px black;
  }

  .right-component {
    display: block;
    margin-top: 3rem;
    width: 100%;
    height: 500px;
  }

  .phone {
    position: absolute;
    width: 70%;

    left: 20%;
    transform: translate(-50%);
  }

  .gradient {
    position: absolute;
    left: 60%;
    width: 60%;

    transform: translate(-50%);
  }
}
